<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71864989605-s7hqhvetv9n0m207k9e78d9af6hscop1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71864989605-s7hqhvetv9n0m207k9e78d9af6hscop1</string>
	<key>API_KEY</key>
	<string>AIzaSyCbHUjwDueDciNEGSH6s09hlkk6U5X43ug</string>
	<key>GCM_SENDER_ID</key>
	<string>71864989605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nativescript.firebase.phonelogin</string>
	<key>PROJECT_ID</key>
	<string>way-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>way-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71864989605:ios:8b6312dad069661b</string>
	<key>DATABASE_URL</key>
	<string>https://way-backend.firebaseio.com</string>
</dict>
</plist>